<section id="section-donation">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <div class="card" style="width: 28rem;">
      <img src="https://assets-global.website-files.com/5a1030a3808a3a000115faf0/63c7a78f11d6b5bd80ad6fd4_how-to-connect-stripe-and-receive-payments-05.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="container mt-5">
          <div *ngIf="currentStep === 1">
            <form [formGroup]="donorFormGroup" (ngSubmit)="donorOnSubmit()">
               <h2 class="text-center">{{ paso1 }}</h2>
               <div class="mb-3">
                 <label for="name" class="form-label">Nombre</label>
                 <input type="text" id="name" class="form-control" formControlName="name">
               </div>
               <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" id="email" class="form-control" formControlName="email">
              </div>
              <label for="">{{ donorFormGroup.valid }}</label>
              <button type="submit" class="btn btn-success">Guardar</button>
               <button type="button" class="btn btn-primary" (click)="nextStep()">Siguiente</button>
            </form>
          </div>

          <div *ngIf="currentStep === 2">
            <form [formGroup]="donationDetailsFormGroup" (ngSubmit)="donationDetailsOnSubmit()">
               <h2 class="text-center">{{ paso2 }}</h2>
               <div class="mb-3">
                <div>
                  <label for="amount" class="form-label">Monto</label>
                  <input  type="text" id="amount" class="form-control" formControlName="price">

                  <label for="currency" class="form-label">Moneda: </label>
                  <select name="currency" id="currency" formControlName="currency">
                   <option value="mxn">MXN</option>
                   <option value="usd">USD</option>
                   <option value="crc">CRC</option>
                  </select>
                </div>
                 <div>
                   <label for="recurring" class="form-label">Intervalo de: </label>
                   <select id="recurring" formControlName="recurring">
                    <option value="month">Month</option>
                    <option value="week">Week</option>
                    <option value="anual">Anual</option>
                   </select>
                 </div>

               </div>
              <button type="button" class="btn btn-secondary" (click)="previousStep()">Anterior</button>
              <button type="submit" [disabled]="!donationDetailsFormGroup.valid" class="btn btn-success">Guardar price</button>
              <button type="button" class="btn btn-primary" (click)="nextStep()">Siguiente</button>
            </form>
          </div>
             <!-- <div *ngIf="currentStep === 2">
               <h2 class="text-center">{{ paso3 }}</h2>
               <div class="mb-3">
                 <label for="phone" class="form-label">Teléfono</label>
                 <input type="text" id="phone" class="form-control" formControlName="phone">
               </div>
               <button type="button" class="btn btn-secondary" (click)="previousStep()">Anterior</button>
             </div> -->
         </div>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
    <a [routerLink]="['/']" class="mt-4">Home</a>
  </div>
</section>
