/* step-form.component.css */
h2 {
    margin-bottom: 20px;
  }

  button {
    margin-right: 10px;
  }

  #section-donation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
